<div class="bg">
    <% include partials/header %>
        <div class="jumbotron text-center bg">
            <h1 style="color:white">Welcome to YelpCamp!</h1>
            <p style="color:white">Choose Best Camp of Your Choice!</p>
            <a class="btn btn-success" id="wrapper" href="/campgrounds">View All Campgrounds</a>
        </div>
        <% include partials/footer %>
</div>